{% extends 'base.html.j2' %}
{% block content %}
<h1>Hi, this is an unprotected route</h1>
<p><a href="/login">Login</a> if you want to see <a href="/top-secret">this top secret protected webpage</a></p>
{% endblock %}